.form {
    height: auto;
    display:flex;
    flex-direction: row;
    margin: 4% 4% 0 0;
    padding: 0 20px 20px 20px;
    border-radius: 15px;
    background: rgba(37, 255, 0, 0.67);
}

.form div, .form span {
    color: black !important;
    font-size: 16pt !important;
}

.form .inputs, .form .controls {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.form .inputs > * {
    min-width: 100px;
    margin: 10px;
    text-align: center;
}

.form .inputs > * p {
    margin: 0;
    user-select: none;
}

.form .controls > input {
    font-size: 16pt;
    margin: 10px;
    padding: 5px 10px;
    background: black;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    transition: 200ms;
}

.form .controls > input:hover {
    background: white;
    color: black;
}

.form .inputs input[type="range"] {
    cursor: pointer;
}

@media screen and (max-width: 762px){
    .form{
        margin: 0 2%;
    }
}